.heading  {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}
.heading h1 {
    font-size: 80px;
    width: 10em;
    color: #fff;
}

.heading .description {
    width: 24em;
    color: #87898D;
    font-size: 28px;
    margin-bottom: 54px;
}